/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?web8d5');
    src:  url('fonts/icomoon.eot?web8d5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?web8d5') format('truetype'),
    url('fonts/icomoon.woff?web8d5') format('woff'),
    url('fonts/icomoon.svg?web8d5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon2-"], [class*=" icon2-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon2-candle:before {
    content: "\61";
}
.icon2-product:before {
    content: "\7a";
}
.icon2-small-diamond:before {
    content: "\65";
}
.icon2-shipped:before {
    content: "\72";
}
.icon2-necklace:before {
    content: "\74";
}
.icon2-diamond-ring:before {
    content: "\79";
}
.icon2-heart-pendant:before {
    content: "\75";
}
.icon2-jewelry:before {
    content: "\69";
}
.icon2-bracelet:before {
    content: "\6f";
}



